table,
tr,
td,
th {
    border: 1px solid black;
    /* border-radius: 12px; */
}

table {
    /* Alapértelmezett beállítása */
    /* border-collapse: separate; */
    border-collapse: collapse; 
    /* border-radius: 12px; */
    width: 110%;
    max-width: 900px;
    /* max-width: kele hogy behuzza mindig középre; */
    margin: auto;
    margin-top: 32px;
}

td, th {
    padding: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

tr {
    background-color: ghostwhite;
}

tr:nth-child(2) {
    background-color: red;
}

tr:nth-child(even) {
    background-color:aqua;
}

tr:nth-child(odd){
    background-color: blue;
}

th {
    background-color: yellow;
}

caption {
    padding-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}